<!doctype html>
<html lang="en" ng-app="postController">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>My App</title>  
   
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/app.css"/>
  <link rel="stylesheet" href="styles/onsen-css-components.css">  
   <link rel="stylesheet" href="styles/leaflet.css"/>
     
  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  
   <script src="cordova.js"></script>  
  <script src="js/app.js"></script>  
  <script src="js/postController.js"></script>  
  <script src="js/jquery.js"></script>

  
  
  
  <script src="js/app.js"></script>  
  <script src="http://leafletjs.com/dist/leaflet.js"></script>
 
  <script type="text/javascript">
 var myposition;
 var map;
        function attachPhoto(){
          $('#kickImage').attr('src', 'images/logo.png');
        }

      </script>

      <script type="text/javascript">
 document.addEventListener("deviceready", onDeviceReady, false);

    // Cordova is ready
    //
    function onDeviceReady() {
      
        navigator.geolocation.getCurrentPosition(onSuccess, onError);
    }
function onSuccess(position) {
    myposition=position;
}

function onError(error) {
        alert('code: '    + error.code    + '\n' +
              'message: ' + error.message + '\n');
    }

    function validateAndKick(){
      myNavigator.resetToPage('main.html', { animation : 'lift' } );

    }
</script>

  <style>
    .content{
      background-image: url('images/bg.jpg');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    }
    .item {
      padding: 10px;
      line-height: 1;
    }
    .item-thum {
      background-color: #ccc;
      width: 50px;
      height: 50px;
      border-radius: 4px;
    }
    .item-title {
      font-size: 15px;
      font-weight: 500;
    }
    .item-desc {
      font-size: 14px;
      color: #666;
      line-height: 1.3;
      margin: 4px 0 0 0;
      padding: 0 30px 0 0;
    }
    .item-label {
      font-size: 12px;
      color: #999;
      float: right;
    }
    .normalbutton{
      width:80%;
       margin-bottom:20px;
    }
    .half{
     
    }
  </style>

</head>

<body>    

  <ons-navigator title="Navigator" var="myNavigator" >
  <ons-page>
   
    <div   style="text-align: center; height:100%; color:#fff;" class="content" >
      <br><center>

      <img src="images/logo.png" class="half" >
      <br>
     <br>
      <button class="button--large--cta normalbutton"  onclick="myNavigator.pushPage('page1.html', { animation : 'slide' } )" >Login </button>
     
     <button class="button button--large normalbutton" onclick="myNavigator.pushPage('page2.html', { animation : 'slide' } )" >Create New Account</button>
      </center>
    </div>
  </ons-page>
</ons-navigator>

<ons-template id="page1.html">
  <ons-page>
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Login</div>
    </ons-toolbar>

    <ons-list>
        

        <ons-list-item>
          <input type="text" placeholder="Email Address" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>

        <ons-list-item>
          <input type="password" placeholder="Password" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>



       
      </ons-list>
      
      <button class="button--large--quiet" onclick="myNavigator.pushPage('page3.html', { animation : 'slide' } )">Forgot your password?</button>
      <div class="content-padded">
        <button class="button--large--cta"
                    onclick="validateAndKick()">
          Login!
        </button>
      </div>

  </ons-page>
</ons-template>

<ons-template id="page3.html">
  <ons-page>
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Reset Password</div>
    </ons-toolbar>

    <ons-list>
        

        <ons-list-item>
          <input type="text" placeholder="Email Address" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>

        



       
      </ons-list>
      
      <div class="content-padded">
        <button class="button--large--cta"
                    onclick="">
          Reset Password & Email
        </button>
      </div>

  </ons-page>
</ons-template>

<ons-template id="page2.html">
  <ons-page>
    <ons-toolbar>
      <div class="left"><ons-back-button>Back</ons-back-button></div>
      <div class="center">Create New Account</div>
    </ons-toolbar>

    <ons-list>
        <ons-list-item>
          <input type="text" placeholder="Name" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>

        <ons-list-item>
          <input type="text" placeholder="Email Address" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>

        <ons-list-item>
          <input type="password" placeholder="Password" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>

        <ons-list-item>
          <input type="password" placeholder="Retype password" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
        </ons-list-item>

        <ons-list-item>
          <ons-row>
            <ons-col width="90px">
          <span style="color: #666">Gender</span></ons-col>
            <ons-col>

              <div style="float: right; padding-right: 16px;">
                <label class="radio-button">
                  <input type="radio" name="level" ng-model="selectedLevel">
                  <div class="radio-button__checkmark"></div>
                  Male
                </label>

                <label class="radio-button">
                  <input type="radio" name="level" ng-model="selectedLevel">
                  <div class="radio-button__checkmark"></div>
                  Female
                </label>
              </div>

            </ons-col>
          </ons-row>
        </ons-list-item>


       
      </ons-list>
      

      <div class="content-padded">
        <ons-button modifier="large"
                    onclick="">
          Create Account Now!
        </ons-button>
      </div>

  </ons-page>
</ons-template>

       <ons-template id="main.html">
  <ons-page>
     
<ons-tabbar>
<ons-tabbar-item page="add.html" label="Kick" icon="ion-plus" active="true" ></ons-tabbar-item>
 <ons-tabbar-item page="list.html" label="Home" icon="ion-home" active="true" ></ons-tabbar-item>
<ons-tabbar-item page="map.html" label="Map" icon="ion-map"  ></ons-tabbar-item>
<ons-tabbar-item page="settings.html" label="Settings" icon="ion-settings"  ></ons-tabbar-item>

</ons-tabbar>
   
 

  </ons-page>
</ons-template>
<ons-template id="list.html">
   <ons-page>
      
      <div class="content-padded" style="background: #000000; color:#000; height:30px;">
      <input type="search" value="" ng-model="query" placeholder="Search" style="width: 100%;
float: left; margin-right:5px;" class="search-input"> 
<!-- <select class="list list--inset" ng-model="direction" style="width:20%;float:left;  height:30px;">
    <option value="reverse">reverse</option>
    
  </select> -->
<!-- 
  <select class="list list--inset" ng-model="updownOrder" style="width:15%; float:left; height:30px;">
  <option value="up">Up</option>
    <option value="down">Down</option>
    
  </select> -->

 <!--  <label class="radio-button" style="width:50%; color:#000;">
  <select class="list list--inset" ng-model="updownOrder">
  <option value="up">Up Kicks</option>
    <option value="down">Down Kicks</option>
    
  </select>
</label> -->



</div>
<ons-scroller style="height:90%; width: 100%">
      <ons-list ng-controller="MasterController">
        <ons-list-item modifier="chevron" class="item" ng-repeat="item in items | filter:query | orderBy:updownOrder:direction">
          <ons-row>
            <ons-col width="60px"> 
              <div class="item-thum" style="background:url('{{item.icon}}')"></div>
            </ons-col>
            <ons-col>
              <header>
                <span class="item-title">{{item.title}}</span>
                <span class="item-label">{{item.label}}</span>
              </header>
              <p class="item-desc">{{item.kick}}</p>
              <p class="item-desc"><img src="images/up.png"   style="width:14px;height:14px">{{item.up}} <img src="images/down.png"  style="width:14px;height:14px">{{item.down}}</p>
              <p class="item-desc" style="color:blue;">{{item.tags}}</p>
              
            </ons-col>
          </ons-row>                          
        </ons-list-item>
      </ons-list>
      </ons-scroller>
     
    </ons-page>

</ons-template>
<ons-template id="settings.html">
  <ons-page>
    <ons-toolbar>
      <div class="center">Settings</div>
    </ons-toolbar>
<div class="content-padded">
    <div style="text-align:left; width:100%;">Radius in KM <input type="text" class="text-input" placeholder="20" value="" style="width:100%; margin-bottom:10px; text-align:right"></div>
    
    <button class="button button--large">Save Settings!</button>
     </div>

  </ons-page>
</ons-template>

<ons-template id="add.html">
  <ons-page>
    <ons-toolbar>
      <div class="center">Add New Kick</div>

    </ons-toolbar>

     
        
<div class="content-padded">
       
         <div  style="float: right;
background: rgb(237, 237, 237);
width: 100%;
display: inline;
margin-bottom: 5px;"><center><img src="images/image_add.png" id="kickImage" style="width:63px; height:63px;margin-top:3px"></center></div>
       <div style="float:right; width:100%;">
         <textarea class="textarea" rows="6" placeholder="Kick description here" style="width:100%; margin-bottom:5px;"></textarea></div>
       
          <br>
      
          <input type="text" class="text-input" placeholder="tags like takeaway, job, party etc" value="" style="width:100%; margin-bottom:5px;">
      
<button class="toolbar-button toolbar-button--outline" style="width: 100%;
margin: 0px 19px 10px 0px;" onclick="attachPhoto()">
  <li  class="fa fa-image" style="font-size:21px"></li> Add Photo 
</button>
        <button class="button--large--cta"
                   >
          Kick it!
        </button>
     
</div>

       
    
      
     
     

  </ons-page>
</ons-template>

<ons-template id="map.html">
  <ons-page>
    <ons-toolbar>
      <div class="center">Kicks Map!</div>

    </ons-toolbar>
<script>


postController.controller('mapready', function($timeout, $scope){
    $timeout(function(){
       
       map = L.map('map').setView([42.377003,-71.11666], 13);

      L.tileLayer('https://{s}.tiles.mapbox.com/v3/{id}/{z}/{x}/{y}.png', {
        maxZoom: 18,
        attribution: ' © KickRadius 2014',
        id: 'examples.map-i875mjb7'
      }).addTo(map);


     map.setView(new L.LatLng(myposition.coords.latitude,myposition.coords.longitude),14);
L.marker([ myposition.coords.latitude,myposition.coords.longitude]).addTo(map).bindPopup("<b>Your location!</b><br />").openPopup();
 
      for (var i = 0; i < kicks.length; i++) {

console.log(kicks[i].lat,kicks[i].lon);

L.marker([ kicks[i].lat,kicks[i].lon]).addTo(map).bindPopup("<center><img src='"+kicks[i].icon+"'></center><br>"+kicks[i].kick).openPopup();

       
      };
      


    });
});

  </script>
     <div id="map" ng-controller="mapready"></div>
    
<style type="text/css">
 #map{
        height: 100%;
        width: 100%;
        margin: 0px;
        padding: 0px
      }
</style>
    

  </ons-page>
</ons-template>
</body>  
</html>
